body {
  font-family: Arial, sans-serif;
  background-image: url("12d.jpeg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  background-image: url("123d.jpeg");
  background-size: cover;
  color: rgb(194, 191, 191);
  text-align: center;
  padding: 10px;
}

h1 {
  font-family: "Young Serif", serif;
  font-size: 54px;
  margin: 0;
}

.artist-name {
  font-size: 24px; 
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(76, 75, 75, 0.7);
}

.lyrics {
  font-family: "Your Custom Font", sans-serif; 
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  color: #d2caca; 
  padding: 20px;
}

.lyrics p {
  margin: 10px 0;
  text-indent: 20px;
}
